
{% extends "layout.twig" %}

{% block content %}

{% if pages|length > 1 %}
{{widget('extendednavigation', 'navigationheader', {})|raw}}
{% endif %}
<div class="canvas">
<header class="bk-header">
    <div class="wrapper clearfix">
        <div class="companyheader clearfix">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>
    </div><!--end wrapper clearfix-->
</header>
<div class="main wrapper clearfix">
{{zone('main')|raw}}
</div>
</div>

<footer class="bk-footer">
    <div class="wrapper clearfix">
        {{widget('profile', 'footercolumn1socialicons', { 'profileType' : 'socialicons' })|raw}}
    </div>
</footer>

{% endblock %}
